name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2
      - run: docker ps -a
