name: GitHub Action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    container: ubuntu:focal

    steps:
      - name: build container
        run: pwd
