name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: wulfthimm/github-actions@v1
    - name: Build the Docker image
      run: docker build . --file build/Dockerfile --tag my-image-name:$(date +%s)
