name: GitHub Action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    container: ./build/Dockerfile

    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2

