name: GitHub Action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2

      - name: build container
        run: docker build -t test $(pwd)/build/Dockerfile
